.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(9, 230, 97);
    padding: 1rem;
  }
  
  .navbar__outlet {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
  }
  
  .navbar__logout {
    background-color: white;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    border: none;
    cursor: pointer;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
  }
  
  .navbar__logout:hover {
    background-color: #f2f2f2;
  }
  